@import url("components/employee.css");
@import url("components/card.css");
@import url("components/banner.css");
@import url("components/partners.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/margins.css");
@import url("components/section.css");
@import url("components/contact.css");
@import url("components/timeline.css");
@import url("components/wrapper.css");
@import url("components/counter.css");
@import url("components/hover_effect.css");
@import url("https://fonts.googleapis.com/css?family=Chivo:400,700&display=swap");

:root {
  --blue-mhv: #03e0ca;
  --light-blue-mhv: #92f4e9;
  --grey-mhv: #b9b9b9;
  --light-grey-mhv: #FAF8F8;
}
html {
 scroll-behavior: smooth;
}
.home {
  font-family: 'Chivo', sans-serif;
  overflow: hidden;
}
p {
  font-size: 16px;
}
body {
  font-family: 'Chivo', sans-serif;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
.demo h2, .demo h3, .demo h4{
  color: rgb(0,169,157) !important;
}
.bg-light-blue {
  background-color: var(--light-blue-mhv);
}
.bg-light-grey {
  background-color: var(--light-grey-mhv);
}
.border-radius-20px {
  border-radius: 20px;
}
.box-shadow {
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}
.color-blue {
  color: var(--blue-mhv);
}
.color-blue a:hover {
  color: black;
  text-decoration: none;
}
.color-grey {
  color: var(--grey-mhv);
}
.container-img-responsive {
  height: calc(100% + 3rem);
}
.dropdown-menu {
  min-width: 11rem !important;
}
.flex-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: right;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-24px,
h2.font-size-24px {
  font-size: 24px;
}
.font-size-30px {
  font-size: 30px;
}
.height-30px-md-50px {
  height: 30px;
}
.icon {
  width: auto !important;
  height: 30px;
  padding: 0 10px 0 0;
}
.icon-large {
  width: auto !important;
  height: 55px;
}
.items-center {
  display: flex;
  align-items: center;
  height: 100%;
}
.left-5-negative {
  left: -5%;
}
.list-style-none {
  list-style: none;
}
.max-width-150px {
  max-width: 150px;
}
.max-width-300px {
  max-width: 300px;
}
.max-width-500px {
  max-width: 500px;
}
.max-width-600px {
  max-width: 600px;
}
.max-width-2000px {
  max-width: 2000px;
}
.min-height-380px {
  min-height: 380px;
}
.padding-top-50px {
  padding-top: 50px;
}
.position-x-center {
  transform: translateX(-50%);
  left: 50%;
}
.responsive-scene {
  height: auto;
  width: 90px;
}
.right-0 {
  right: 0px;
}
.title-container {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.title-container .h2,
.title-container h2 {
  font-size: 2rem;
  font-weight: 700;
}
.title-container p.color-grey {
  font-size: 18px;
}
.top-0px {
  top: 0px;
}
.top-10 {
  top: 10%;
}
.top-70px-negative {
  top: -70px;
}
.top-300px {
  top: 300px;
}
.transform-y-center {
  transform: translateY(-50%);
}
.transform-y-25 {
  transform: translateY(-25%);
}
.transform-y-30 {
  transform: translateY(-30%);
}
.z-index-1 {
  z-index: 1;
}
@media (min-width:768px) {
  .padding-md-15 {
    padding-top: 15%
  }
  .height-30px-md-50px {
    height: 50px;
    width: auto;
  }
  .responsive-scene {
    width: 25%;
  }
}
@media (max-width:767px) {
  p {
    font-size: 14px;
  }
  .title-container h2,
  .title-container .h2  {
    font-size: 20px;
  }
  .title-container p.color-grey {
    font-size: 14px;
  }
  h2.font-size-16px-responsive,
  .font-size-16px-responsive {
    font-size: 16px;
  }
  .transform-x-10-negative-responsive {
    transform: translateX(-10%);
  }
  .icon-large {
    width: auto !important;
    height: 40px;
  }
  .container-img-responsive {
    top: -110px;
  }
}
@media (min-width: 1199px) {
  .responsive-scene {
    height: 100%;
    width: auto;
  }
}
