.banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: right center;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  padding-left: 250px;
  padding-right: 250px;
}

.banner-content {
  background-color: #AEDDD8;
  padding: 30px 50px;
  border-radius: 5px;
  opacity: 0.8;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
/*  font-weight: lighter;*/
  color: white;
  /*opacity: 0.6;*/
  margin-bottom: 30px;
}
.banner p span {
  font-weight: lighter;
  font-size: 25px;
}

.banner-second {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

.banner-mobile {
  background-color: #AEDDD8;
  color: white;
  height: calc(100vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
