.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 3px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  border: solid 1px white;
  border-radius: 50%;
  padding: 7px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
  text-center;
}
.card-description h2 {
  color: white !important;
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-team {
  display: flex;
  max-width: 900px;
  position: relative;
}
.card-team img {
  height: 160px;
  width: 160px;
  object-fit: cover;
}
.card-team .card-team-img {
  text-align: center;
  flex: 180px 0 0;
}
.card-team .card-team-text {
  align-self: flex-start;
  flex: 65% 0 0;
  padding: 0px 2rem;
}
.card-team .card-team-quote {
  align-self: center;
  text-align: center;
  flex: 35% 0 0;
}
.card-team-text-container {
  flex: 80% 0 0;
  display: flex;
}
.card-team .card-team-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.card-team .card-subtitle {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .card-team .card-team-img {
    flex: 140px 0 0;
    height: 140px;
  }
  .card-team img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .card-team {
    justify-content: center;
  }
  .card-team .card-team-title {
    font-size: 16px;
  }
  .card-team .card-team-img {
    flex: 100px 0 0;
    height: 100px;
  }
  .card-team-text-container {
    flex: 250px 0 0;
    padding-left: 10px;
    max-width: 70%;
    display: block;
  }
  .card-team .card-team-text {
    margin-bottom: 5px;
    text-align: center;
  }
  .card-team .card-team-quote {
    font-size: 12px;
  }
  .card-team .card-subtitle {
    font-size: 14px;
    font-weight: bold;
  }
  .card-team .card-team-quote p {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0px;
  }
}
