/**********************************

  Codepen Styles

**********************************/

* {
  font-family: 'Lato', sans-serif;
}

html {
    background: #0b646a;
}

h1 {
      font-size: 1.5em;
      width: 100%;
          text-align: center;
          margin-top: 70px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 8px;
}

/**********************************

  Cookie Container

**********************************/

#cookie-container {
  position: fixed;
  z-index: 3000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #333;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

#cookie-text {
  position: relative;
}

.icon {
  height: 30px;
  margin-bottom: -10px
}

#close-cookie-bar {
  opacity: 0.8;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#close-cookie-bar:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#cookie-text span {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-align: left;
  line-height: 1.4;
}

#cookie-text span a {
  color: #fff;
  text-decoration: underline;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

#cookie-text span a:hover {
  opacity: 0.7;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
