.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner {
  height: 60px;
  margin: 15px;
}

.partner_logo {
  height: 170px;
  margin: 15px;
}

@media (max-width: 768px) {
  .partner_logo {
    height: 90px;
    margin: 15px;
  }
}
